---
import MainLayout from "layouts/main.astro";
import Grid from "../components/@common/Grid.astro";
import Icon from "../components/@common/Icon.astro";
---

<MainLayout
  title="Home sweet home"
  description="Page description"
  og_title="Open Graph Title"
  og_description="Open Graph Description"
>
  <div class="container">
    <Grid as="div" class="gap-y-2.5 mt-5">
      <div class="h-[50px] col-span-6 bg-amber-800"></div>
      <div class="h-[50px] col-span-6 bg-amber-800"></div>
      <div class="h-[50px] col-span-2 bg-amber-800"></div>
      <div class="h-[50px] col-span-3 bg-amber-800"></div>
      <div class="h-[50px] col-span-4 bg-amber-800"></div>
      <div class="h-[50px] col-span-3 bg-amber-800"></div>
    </Grid>

    <div class="mt-5">
      <Icon name="open_in_new" size={22} />
    </div>
  </div>
</MainLayout>
